body {
  background-color:#ecf0f1;
  font-family:"Helvetica", Arial;
}

p {
  text-indent:3%;
  text-align:justify;
}

#encabezado{
  display: block;
  width: 500;
  margin: 50 auto;
  paddiong: 15px;
  text-align: center;
  border: 1px solid #999999;
  background: #DDDDDD;
  border-radius: 20px;
  box-shadow: rgb(150,150,150) 5px 5px 10px;
}

h1, h2, h3 {
  color:#1d2ad5;
}

a {
  color: #1d2ad5;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #c3d7df;
  }

img{
  border: 1px solid #d8d8d8;
  border-radius: 5px;
}

#imagenderecha{
  float: right;
  margin: 0 0 10px 10px;
}

#imagenizquierda{
  float: left;
  margin: 0 10px 10px 0;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
}

footer {
  background: #2c3e50;
  font-color: #f5f5f5;
  width: 100%;
  overflow: auto;
}

footer a:hover {
 color: #f5f5f5; 
}

.social {
  text-align: center;
}

.social li {
  display:inline;
}

.social i {
  font-size: 420%;
  margin: 1%;
  padding:5%;
  color: #c3d7df;
}
